
{% extends 'base.html.twig' %}
{% block body %}

<div id="home" class="intro route bg-image" style="background-image: url({{asset('img/strawberry.webp')}})">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
           <div>
           <a href="#"><center><h1>Suivez vos Lots d'aliments,Depuis leurs reception,à leurs transformation </h1> </center></a>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
 