{% extends 'base.html.twig' %}
{% form_theme formulaireRecette 'bootstrap_4_layout.html.twig' %}

{% block body %}

<section id="about" class="about-mf sect-pt4 route">
<div id="contact" class="box-shadow-full">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Fabriquer le plat
                    </h5>
                  </div>

{{ form_start(formulaireRecette)}}
{{ form_row(formulaireRecette.NomRecette, {'attr':{'placeholder':"Entrée le nom de la recette"}})}}
{{ form_row(formulaireRecette.typeRecette)}}

<button type="submit" class="btn btn-primary">Recherche</button>

{{ form_end(formulaireRecette)}}
</div>
</section>



{% endblock %}