{% extends 'base.html.twig' %}
{% form_theme formulaireIngredient'bootstrap_4_layout.html.twig' %}

{% block body %}

  
<section id="about" class="about-mf sect-pt4 route">
<div id="contact" class="box-shadow-full">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Ingredient
                    </h5>
                  </div>

{{ form_start(formulaireIngredient)}}
{{ form_row(formulaireIngredient.Aliment, {'attr':{'placeholder':"Nom de l ingredient"}})}}
{{ form_row(formulaireIngredient.QteNecessaire, {'attr':{'placeholder':"quantité necessaire"}})}}



<button class="btn btn-primary" type="submit">Enregistrer</button>

{{ form_end(formulaireIngredient)}}
</div>
</section>


{% endblock %}